<div class="container-fluid">
  <div class="header clearfix">
    <h3 class="text-muted header">Vivero El Otoño</h3>
    <hr/>
  </div>
  <br>
  <img src="https://i.ibb.co/85MsM4Q/image-1.png" height="323" width="100%">
  <table class="table">
    <thead>
      <tr>
        <th width="10%" style="padding-left: 10px;">#</th>
        <th width="30%"><b>Nombre común</b></th>
        <th width="20%"><b>Tipo</b></th>
        <th width="40%"><b>Clima</b></th>
      </tr>
    </thead>
    <tbody>
      <tr class="ngTestRow" *ngFor="let plant of plantsList">
        <td style="padding-left: 10px;"><b class="a">{{plant.id}}</b></td>
        <td>{{plant.nombre_comun}}</td>
        <td>{{plant.tipo}}</td>
        <td>{{plant.clima}}</td>
      </tr>
    </tbody>
  </table>
  <p class="">
    Total plantas de interior: {{interiorCount}}
    <br>
    Total plantas de exterior: {{exteriorCount}}
  </p>
  <br>
  <footer class="footer">
    <p style="text-align: center;">Contact us: +57 3102105253 - info@viveroelotonio.com - @viveroelotonio</p>
  </footer>
  <br>
