/* You can add global styles to this file, and also import other style files */

html {
  font-family: 'Inter', sans-serif;
  margin-left: 98px;
  margin-right: 98px;
}
.header {
  font-family: 'Kaisei Decol', serif;
  font-size: 36px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
table {
  width: 800px;
  border-collapse: collapse;
}
th {
  font-family: 'Inter', sans-serif;
  background-color: #333A40;
  color: white;
  border-collapse: collapse;
  text-align: left;
}
tr {
  height: 40px;
}
td {
  border-bottom: solid 1px rgb(0, 0, 0,0.2);
}
